# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
*.env

# Node
node_modules/
build/
dist/
npm-debug.log*

# React
*.log
*.lock
*.cache
*.tsbuildinfo

# Docker
*.pid
*.db

# VSCode
.vscode/

# Misc
.DS_Store

# Postgres
pgdata/