version: "3.7"
services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - chroma_data:/app/chroma_db
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@db:5432/ragnarok
    depends_on:
      - db
      - ollama
    command: /bin/sh -c "python init_db.py && python migrate_db.py && gunicorn -b 0.0.0.0:5000 --timeout 120 app:app"

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ragnarok
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  pgdata:
  ollama_data:
  chroma_data:
